body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(128, 128, 128);
  color: white;
}

.label-title {
  display: block;
  text-align: center;
}

.input-style {
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  text-align: center;
  font-weight: 400;
  width: 400px;
  height: 25px;
}
.input-style:focus {
  outline: none !important;
  border: 1px solid rgb(48, 47, 47);
  box-shadow: 0 0 10px rgb(48, 47, 47);
}

.response-no {
  text-align: center;
}

.gallery {
  padding: 0;
}

.countries-items {
  font-weight: 500;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
}

h3,
.languages-list {
  font-weight: 500;
  font-size: 1em;
}
.languages-list {
  padding: 0;
}

.country-details {
  display: flex;
  justify-content: space-between;
}
.text-content {
  margin-left: 50px;
}

.images {
  margin-right: 50px;
}

span,
.languages-items {
  font-weight: 400;
  font-size: 0.8em;
}

.languages-list li {
  margin-left: 50px;
  padding-bottom: 10px;
}
.languages-list li:first-child {
  padding-top: 10px;
}

.countries-list {
  margin-left: 50px;
}
